.recipe-container {
    width: 100%;
    background-color: #E7EBF0;
}

@media only screen and (min-width: 1024px) {
    .recipe-container {
        padding: 0 25% 0 25%;
        box-sizing: border-box;
    }
}